In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, roc_auc_score

In [5]:
loan= pd.read_csv(r'loan_prediction_based_on_customer_behavior_dataset.csv')

In [6]:
loan.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [8]:
loan.shape

(252000, 13)

In [10]:
loan.isnull().sum()

Id                   0
Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [11]:
loan.dtypes

Id                    int64
Income                int64
Age                   int64
Experience            int64
Married/Single       object
House_Ownership      object
Car_Ownership        object
Profession           object
CITY                 object
STATE                object
CURRENT_JOB_YRS       int64
CURRENT_HOUSE_YRS     int64
Risk_Flag             int64
dtype: object

In [12]:
loan2=loan.copy()

In [16]:
loan2=loan.drop(columns=["Id","Profession","CITY","STATE"])

In [18]:
loan2.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,single,rented,no,3,13,0
1,7574516,40,10,single,rented,no,9,13,0
2,3991815,66,4,married,rented,no,4,10,0
3,6256451,41,2,single,rented,yes,2,12,1
4,5768871,47,11,single,rented,no,3,14,1

In [21]:
loan2["Married/Single"].replace({"married":0,"single":1},inplace=True )

In [22]:
loan2.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,1,rented,no,3,13,0
1,7574516,40,10,1,rented,no,9,13,0
2,3991815,66,4,0,rented,no,4,10,0
3,6256451,41,2,1,rented,yes,2,12,1
4,5768871,47,11,1,rented,no,3,14,1

In [24]:
for col in ["House_Ownership","Car_Ownership"]:
    loan2[col]=LabelEncoder().fit_transform(loan[col])

In [25]:
loan2.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,1,2,0,3,13,0
1,7574516,40,10,1,2,0,9,13,0
2,3991815,66,4,0,2,0,4,10,0
3,6256451,41,2,1,2,1,2,12,1
4,5768871,47,11,1,2,0,3,14,1

In [28]:
x=loan2.drop(["Risk_Flag"],axis=1)
y=loan2["Risk_Flag"]

In [32]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [41]:
LR_Model=LogisticRegression()
LR_Model.fit(x_train,y_train)
RF_Model=RandomForestClassifier()
RF_Model.fit(x_train,y_train)

RandomForestClassifier()

In [47]:
pred1 = LR_Model.predict(x_test)

In [48]:
pred2 = RF_Model.predict(x_test)

In [51]:
print(classification_report(y_test,pred1))
print(classification_report(y_test,pred2))

              precision    recall  f1-score   support

           0       0.88      1.00      0.93     44106
           1       0.00      0.00      0.00      6294

    accuracy                           0.88     50400
   macro avg       0.44      0.50      0.47     50400
weighted avg       0.77      0.88      0.82     50400

              precision    recall  f1-score   support

           0       0.94      0.95      0.94     44106
           1       0.59      0.54      0.57      6294

    accuracy                           0.90     50400
   macro avg       0.76      0.74      0.75     50400
weighted avg       0.89      0.90      0.89     50400

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
# The Best Model is the Random Forest  with an accuraccy rate of 90 % , a better  precision of 94% and f1 score of 04%